*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  color: $darkest;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.4;
  font-weight: 600;
  background-color: $off-white;
  font-family: 'Open Sans', sans-serif;
}

.mobile-overflow-fix {
  overflow: hidden;
  height: 100vh;
}

span {
  vertical-align: top;
}

img {
  vertical-align: top;
}

svg {
  vertical-align: top;
}
