/* * * *
 * Clearfix
 * * * */
%clearfix {
  &:before,
  &:after {
    content: '';
    display: table;
  }
  &:after {
    clear: both;
  }
}

.clearfix {
  @extend %clearfix;
}


/* * * *
 * Font & Text
 * * * */
.font-400 {
  font-weight: 400 !important; //normal
}

.font-600 {
  font-weight: 600 !important; //semi-bold
}

.font-700 {
  font-weight: 700 !important; //extra bold
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-lowercase {
  text-transform: lowercase !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.text-center {
  text-align: center
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.truncate {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* * * *
 * Color
 * * * */
.color-white {
  color: #fff !important;
}

.color-off-white {
  color: $off-white !important;
}

.color-primary {
  color: $primary !important;
}

.color-secondary {
  color: $secondary !important;
}

.color-slate {
  color: $slate !important;
}

.color-base,
.color-darkest {
  color: $base !important;
}


/* * * *
 * Background-color
 * * * */
.background-white {
  background-color: #fff !important;
}

.background-off-white {
  background-color: $off-white !important;
}

.background-primary {
  background-color: $primary !important;
}

.background-secondary {
  background-color: $secondary !important;
}

.background-slate {
  background-color: $slate !important;
}

.background-darkest {
  background-color: $darkest !important;
}

/* * * *
 * Layout
 * * * */
.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}


/* * * *
 * Display
 * * * */
.hidden,
.hide {
  display: none !important;
}

.hide-desktop {
  @media (min-width: 901px) {
    display: none !important;
  }
}

.hide-mobile {
  @media (max-width: 900px) {
    display: none !important;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}