{
    "extends": "airbnb-base/legacy",
    "env": {
        "es6": false,
        "browser": true,
        "node": true,
        "mocha": true
    },
    "rules": {
        "comma-dangle": 0,
        "indent": [2, 4, { "SwitchCase": 1, "VariableDeclarator": 2 }],
        "func-names": 0,
        "max-statements": [0, 10],
        "quote-props": 0,
        "space-before-function-paren": 0
    }
}
