.logo {

  img {
    max-width: 10rem;

    @media (max-width: 400px) {
      margin-top: 5px;
      margin-bottom: 5px;
      max-width: 6rem;
    }
  }

  .h4 {
    color: #fff;
    font-weight: 600;
  }
}