.data-container {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.map-inner {
  flex: 1;
  width: 100%;
  
  @media (max-width: 900px) {
    display: none;
  }
}

.leaflet-pane.leaflet-tile-pane {
  filter: grayscale(1);
}

.leaflet-control-container {
  .leaflet-control {
    border-color: $darkest !important;
    border-width: 1px !important;

    a {
      border-color: $darkest !important;
    }
  }
}

.leaflet-control-container .leaflet-control-attribution.leaflet-control {
  right: 1.5rem;
  bottom: 1.5rem;
  box-shadow: 0 2px 2px 0 rgba($darkest, .2);
  border-radius: 2rem;
  width: 3rem;
  max-width: 20rem;
  height: 3rem;
  white-space: nowrap;
  background: white;
  text-indent: 9999rem;
  font-size: 1rem;
  padding: 1rem;
  background-image: url(../../assets/images/info-icon.svg);
  background-size: 1.5rem;
  background-position: center;
  background-repeat: no-repeat;

  &:hover,
  &:focus {
    text-indent: 0;
    white-space: normal;
    width: auto;
    height: auto;
    background-image: none;
    border-radius: 4px;
  }
}