.sidebar {
  width: 40rem;
  display: flex;
  flex-direction: column;
  background-color: $white;
  border-right: 1px solid $base;

  @media (max-width: 900px) {
    flex: 1;
    z-index: 5001;
    border-bottom: 1px solid;
    width: 100%;
  }

  img {
    max-width: 100%;
  }
}

.sidebar--actions {
  padding: 1rem 1.4rem;
  background-color: $white;
  display: flex;
  justify-content: space-between;

  @media (max-width: 900px) {
    display: none;
  }

  a {
    font-size: 1.6rem;
  }
}

.sidebar.active #sidebar-toggle {
  font-size: 0;

  &:after {
    content: 'Close';
    font-size: 1.5rem;
  }
}

.sidebar--header {
  background: $slate;
  background: url(../images/wave-pattern.svg) no-repeat, linear-gradient(44deg, $slate 23%, $darkest 95%);
  border-bottom: 1px solid darken($off-white, 5%);
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (max-width: 900px) {
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;
    background-repeat: repeat;
  }
}

.sidebar--inner {
  flex: 1;
  overflow: auto;
  padding: 1rem 3rem;
  position: relative;

  p {
    margin-bottom: 1rem;
  }

  @media (max-width: 900px) {
    height: calc(100% - 59px);
    overflow: auto;
  }
}

.sidebar--footer {
  padding: 1rem 3rem;
  font-size: 1.2rem;
}