<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="yes" name="mobile-web-app-capable">
    <link href="assets/favicon/manifest.json" rel="manifest">
    <link href="assets/favicon/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180">
    <link href="assets/favicon/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
    <link href="assets/favicon/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
    <link href="assets/favicon/manifest.json" rel="manifest">
    <link color="#017dc3" href="assets/favicon/safari-pinned-tab.svg" rel="mask-icon">
    <meta content="#ffffff" name="theme-color">
    <link href="assets/images/favicon.ico?" rel="shortcut icon" type="image/x-icon">
    <title>
        Coastal Resilience – Mapping portal
    </title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <link href="https://unpkg.com/leaflet@1.0.0/dist/leaflet.css" rel="stylesheet">
    <link href="assets/css/main.css" rel="stylesheet">
</head>

<body>
    <div class="app-container">
        <div class="sidebar">
            <div class="sidebar--header">
                <div class="logo">
                    <span class="sr-only">
                        Coastal Resilience
                    </span>
                    <img src="assets/images/cr-logo-white.png" alt="Coastal Resilience">
                </div>
                <h1 class="site-title">
                    Mapping portal
                </h1>
                <button class="btn btn-primary" data-toggle="modal" data-target="#about-modal" id="modal-toggle-btn">
                    Learn more
                </button>
            </div>
            <div class="sidebar--inner">
                <div id="region-list-view"></div>
                <div id="region-details-view"></div>
            </div>
            <div class="sidebar--footer">
                <a href="https://www.nature.org/about-us/governance/terms-of-use/index.htm?redirect=https-301&src=f9" target="_blank">
                    Legal Disclosure
                </a> | <a href="https://www.nature.org/about-us/governance/privacy-policy.xml?redirect=https-301" target="_blank">
                    Privacy Statement
                </a>
                <br>
                © The Nature Conservancy. All rights reserved
            </div>
        </div>
        <div class="data-container">
            <div class="map-inner" id="map"></div>
            <div id="stats-slideout-region">
                <div class="stats" id="stats-region"></div>
            </div>
        </div>
    </div>
    <div id="app-modal-view"></div>
    <div class="modal" id="about-modal" role="dialog" tabindex="-1">
        <div class="modal-container">
            <div class="modal-close">
                <a href="#" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </a>
            </div>
            <div class="modal-split background-slate">
                <div class="modal-container--inner">
                    <h2 class="color-white">
                        About the Coastal Resilience Mapping Portal
                    </h2>
                    <p class="color-white">
                        Coastal Resilience supports a community of practitioners around the world who are applying spatial planning innovations to coastal hazard risk, resilience and adaptation issues. This is a global network providing access to peer practitioners, tools, information
                        and training focused on nature-based solutions. For more information see our <a href="http://coastalresilience.org/">Coastal Resilience website.</a>
                    </p>
                    <p class="color-white">
                        The blue areas on the map represents our Coastal Resilience coverage across countries, regions and states.
                    </p>
                </div>
            </div>
            <div class="modal-split" id="partner-modal-region"></div>
        </div>
    </div>

    <script type="text/template" id="partnerModalViewTemplate">
        <div class="modal-container--inner partner-logos">
            <% _.each(partnerLinks, function(partnerLinkItem) { %>
                <a href="<%= partnerLinkItem.url %>" target="_blank">
                    <img src="assets/images/partners/<%= partnerLinkItem.image %>" alt="<%= partnerLinkItem.partner %>">
                </a>
            <% }) %>
        </div>
    </script>

    <script type="text/template" id="statsViewTemplate">
        <div class="stats--inner">
            <% _.each(statItems, function(statItem) { %>
                <div class="stat--section">
                    <div class="stat--label">
                        <%= statItem.label %>
                    </div>
                    <div class="stat--total">
                        <%= statItem.stat %> <span>
                            <%= statItem.secondaryLabel %>
                        </span>
                    </div>
                    <div class="stat--info">
                        <%= statItem.description %>
                    </div>
                </div>
            <% }) %>
        </div>
    </script>

    <script type="text/template" id="regionListTemplate">
        <div class="location--list" id="region-location-list">
            <p>
                At consectetur, reprehenderit ad distinctio sapiente obcaecati facilis dolor possimus officia incidunt consequatur in sed dignissimos neque.
            </p>
            <% _.each(regionList, function(region) { %>
                <div class="location" demo-js-parent-location id="<%= region.title %>">
                    <div class="location--title" id="<%= region.title %>">
                        <%= region.title %>
                    </div>
                    <img src="<%= region.image %>" alt="<%= region.title %>">
                </div>
            <% }) %>
        </div>
    </script>

    <script type="text/template" id="regionDetailsTemplate">
        <div class="location active" demo-js-parent-location="" style="">
            <div class="location--title">
                <%= title %>
            </div>
            <img src="<%= image %>" alt="location background image">
            <button class="btn close" aria-label="Close Location" id="close-details-btn"></button>
        </div>
        <div class="location--details">
            <p class="location--description">
                <%= description %>
            </p>
            <% _.each(subregions, function(sr) { %>
                <div class="location">
                    <div class="location--title">
                        <%= sr.title %>
                    </div>
                    <img src="<%= sr.image %>" alt="location background image">
                    <a href="<%= sr.mapUrl %>" target="_blank">
                        <span class="sr-only">
                            Open map
                        </span>
                    </a>
                </div>
            <% }) %>
        </div>
    </script>

    <script type="text/template" id="markerPopupTemplate">
        <div class="marker-popup">
            <strong><%= title %></strong>

            <p><%= description %></p>

            <a class="btn btn-primary" href="<%= mapUrl %>" target="_blank">Open map</a>
        </div>
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.0.0/dist/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/esri-leaflet/2.1.1/esri-leaflet.js"></script>
    <script src="assets/vendor/bs-util.js"></script>
    <script src="assets/vendor/bs-modal.js"></script>
    <script src="js/App.js"></script>
    <script src="js/models.js"></script>
    <script src="js/views.js"></script>
    <script>
        var App = new App({
            model: new AppModel()
        });
    </script>
</body>

</html>
